body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.principal{
    width: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-around;
}

.submit{
    width:max-content;
    margin: 5px;
}

.col-md-4{
    width: auto;
}

.title-list{
    font-weight: bold;
}

.nombre{
    width: 120px;
}

.correo{
    width: 200px;
}

.body{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}

.label_busqueda{
    margin-top: .5rem;
    margin-bottom: .1rem;
}

.div-2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.div-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.col-md-4{
padding-left: 3px;
}

.col-12{
    padding-top: 15px;
}