body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.principal{
    width: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-around;
    border-top: 1px solid black;
}

.submit{
    width:max-content;
    margin: 5px;
}

.col-md-4{
    width: auto;
}

.title-list{
    font-weight: bold;
}

.nombre{
    width: 120px;
}

.correo{
    width: 200px;
}

.body{
    display: auto;
    width: 100%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height:fit-content;
    border-top:3px;
    background-color:white;
}

.label_busqueda{
    margin-top: .5rem;
    margin-bottom: .1rem;
}

.div-2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.div-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.div-5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.div-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.col-md-4{
padding-left: 3px;
}

.col-12{
    padding-top: 15px;
}